
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background-color: #4d989d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header_right{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   gap:20px ;
}


